<div style="background-color:   rgb(169, 134, 222);">
<div class="container d-flex justify-content-center align-items-center vh-100 col-sm-10 ">
    <form class="border p-5 rounded shadow bg-light" style="max-width: 500px;">
      <h2 class="text-center mb-4">Student Registration</h2>
      <br>
      <br>
      
      <div class="form-group">
        <input type="text" class="form-control py-2" placeholder="Username" required>
      </div>
      <br>
      <div class="form-group">
        <input type="email" class="form-control py-2" placeholder="Email" required>
      </div>
      <br>
      <div class="form-group">
        <input type="password" class="form-control py-2" placeholder="Password" required>
      </div>
      <br>
      <div class="form-group">
        <input type="password" class="form-control py-2" placeholder="Confirm Password" required>
      </div>
      <br>
      <button type="submit" class="btn btn-dark btn-block my-3 w-100 ">Register</button>
    </form>
  </div>
</div>