
<div class="container d-flex justify-content-center align-items-center vh-100 col-sm-8">
    <form class="border p-5 rounded shadow bg-light" style="max-width: 500px;">
      <h2 class="text-center mb-4">Admin Registration</h2>
      <br>
      <br>
      <br>
      <br>
      
      <div class="form-group">
        <input type="text" class="form-control py-2" placeholder="Username" required>
      </div>
      <br>
      <div class="form-group">
        <input type="email" class="form-control py-2" placeholder="Email" required>
      </div>
      <br>
      <div class="form-group">
        <input type="password" class="form-control py-2" placeholder="Password" required>
      </div>
      <br>
      <div class="form-group">
        <input type="password" class="form-control py-2" placeholder="Confirm Password" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-block my-3">Register</button>
    </form>
  </div>
